.git
.github
.gitignore
.idea
.vscode
.DS_Store
node_modules
vendor
tests
data
database/database.sqlite
.phpunit.cache
.phpunit.result.cache
.phpstan.cache
.infection.log
infection.log
coverage
storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
.env
docker-compose-dev.yml
